<html>
  <head>
    <title>POTIN</title>
  </head>
  <body>
    <h1>C'est la page du potin n°<%= gossip_id%></h1>

        <p>
          <b>L'auteur n'est autre que :</b> <%= gossip[0] %>
        </p>
        <p>
            <b>Profite du potin :</b> <br> <br><%= gossip[1] %>
        </p>


  </body>
</html>
